---
title : Gallery
layout : home.njk
---

<div class="column">
        <h1>MY GALLERY is MY ADVENTURES</h1>
        <img src="https://cdn2.tstatic.net/lampung/foto/bank/images/muncak-pass-pesawaran.jpg"> 
        <img src="https://fortunaexplore.com/wp-content/uploads/2018/12/lampung-tapak-kera.jpg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Air_Terjun_Nyarai.jpg"> 
        <img src="https://images.squarespace-cdn.com/content/v1/5743f4feab48de86e90266d4/1523262946034-ZFUXG3GFBFXVSV8BVZFH/ke17ZwdGBToddI8pDm48kL4WrIntsHuCODFzGytxs8sUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcw31z2cKmL83lZVTgYf1Shcnt0pzT4b-h8WwoQ3rX-86z0Q_QpJgDA4jmv5AtYw-J/Asoka+Remadja+Air+Terjun+Waimarang+-4.jpg">
        <img src="https://4.bp.blogspot.com/-nIaDz7oJA3U/USMcX788gSI/AAAAAAAABpQ/gnptHhHTn5Y/s1600/DSC_0535.JPG"> 
        <img src="https://yopiefranz.com/wp-content/uploads/2016/06/Taman-kupu-kupu-Gita-Persada-Yopie-Pangkey-9-1024x683.jpg">
        <img src="https://3.bp.blogspot.com/--gvM7wti2FY/WWI6vCYCOhI/AAAAAAAAENU/OiyQnD5SJzAjrmNuKlZWNqgdws3IBXk2wCK4BGAYYCw/s1600/18839325_10208579482034167_3253182371371456691_n.jpg"> 
</div>