<nav class="menu">
            <a href="/">Home</a>
            <a href="/profile/profil">Profile</a>
            <a href="/galeri/galery">Gallery</a>
            <a><button onclick="myFunction()">Dark Mode</button></a>
</nav>