---
Title : Profile
layout : home.njk
---

<div class="rightcolumn">
            <div class="card">
                <div class="main">
                    <div class="pp">
                        <img src="https://img.okezone.com/content/2019/12/03/205/2137568/konser-perdana-di-indonesia-iu-tak-sabar-bertemu-jak-uena-nsC9qjjbm9.jpg" style="width: 100px; height: 100px; border-radius: 100%;">
                    </div>

                    <div class="name">
                        <div style="align-content: space-around;">
                            <h3>Nurma Yunita Sari</h3>
                        </div>

                    </div>

                    <div class="nim">
                        <div style="align-content: space-around;">
                            <h3>14117085</h3>
                        </div>
                    </div>

                    <div class="ttl">
                        <div style="align-content: space-around;">
                            <h3>19 Juni 1999</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>